.cart-table {
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}

.cart-table table,th,td{
    border: 1px solid darkgray;
    border-collapse: collapse;
}

.cart-table td {
    padding: 10px;
}
.cart-table th {
    padding: 10px;
}
.cart-image {
    max-width: 300px;
    max-height: 100px;
    border-radius: 20%;
}

.cart-table .total-price {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}

.cart-table button {
    margin-left: 5px;
    margin-top: 5px;
}

.add-text {
    margin-top: 100px;
    text-align: center;
    font-size: 27px;
}