.cart-table {
    margin-top: 45px;
}

.cart-table table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}

.cart-table .total-price {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}

.cart-table button {
    margin-left: 5px;
    margin-top: 5px;
}