
.preview-img-container {
    position: relative;
    margin: 0 auto;

}

@media (min-width: 576px) {
    .preview-img-container {
        width: 500px;
    }
}


@media (min-width: 768px) {
    .preview-img-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .preview-img-container {
        width: 950px;
    }
}


@media (min-width: 1400px) {
    .preview-img-container {
        width: 1400px;
    }
}

.preview-img {
    width: 100%;
    height: 85vh;
    opacity: 0.7;
}

.preview-text {

    border: 2px solid white;
    border-radius: 10%;

    position: absolute;
    top:  50px;
    left:  50px;
    max-width: 400px;
    padding: 20px;
    font-size: 18px;

    color: floralwhite;
    opacity: 0;
    transition: opacity 1s linear;
}


.preview-btn {
    z-index: 10;
    outline: none;
    border-color: wheat;
    border-radius: 20px;
    padding: 15px;
    color: whitesmoke;
    background-color: transparent;
    position: absolute;
    top: 100px;
    right: 50px;
    cursor: pointer;
}

.text-style {
    opacity: 0.7;

}

