.auto-details-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px auto;

    border: 2px solid black;
    padding: 20px;

}

.auto-details {
    position: relative;
}
.auto-details__main {
    max-width: 500px;
   word-wrap: break-word;
    margin-top: 50px;
    overflow: hidden;
    flex-grow: 1;
    min-height: 500px;
}


.auto-details__img {
    width: 600px;
    max-height: 400px;
    margin-right: 20px;
    margin-top: 100px;

}

.auto-details__img img {
    width: 100%;
    border-radius: 20%;
    height: 100%;
}

.details-text {
    font-size: 18px;
    margin-top: 10px;
}

.btn-details {
    position: absolute;
    bottom: 20px;
    right: 150px;
    font-size: 22px;
    color: grey;
    cursor: pointer;
}