.header-main {
    display: flex;
    background-color: ghostwhite;
    height: 150px;
    justify-content: space-between;

}

.header-logo {
    flex-basis: 300px;
    flex-shrink: 1;
    margin:  20px 40px;
    flex-grow: 1;
}

.header-main__img {
    width: 100%;

}
.btn-context {
    cursor: pointer;
    padding: 5px;
}

.header-main__nav {
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-right: 10%;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-grow: 4;
}

.link {
    text-decoration: none;
    font-size: 21px;
    color: black;
    margin-left: 20px;
}

li {
    list-style: none;
}
